body{
    overflow-x: hidden;
}
.contain{
    z-index: 0;
    background: black;
    margin: -10px;
    width: 200%;
    display: inline-flex;
}
.text{
    font-family: 'Sofia';
}
#tex{
    font-size: 50px;
    color: white;
    margin-left: 50px;
    display: inline-flex;
}
@media screen and (min-width:600px){
    #tex2{
    color: white;
    position: relative;
    margin-left: 100px;
    margin-top: 50px;
}
}
@media screen and (max-width:600px){
    #tex2{
        color: white;
        position: relative;
        margin-left: -180px;
        margin-top: 100px;
    }
}

#lower{
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: white;
    padding-left: 20px;
    display: inherit;
}
#main{
    background-image: url("../images/background.png");
    z-index: 1;
    height: 600px;
    max-height: 600px;
    width: 100%;
    background-size: 50% 50%;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
}
.middle{
    position: absolute;
    font-size: 1.6em;
    left: 30%;
    top: 30%;
}